[2015-09-25 18:46] pmalek opened #4 "How can I interconnect this with gitlab in docker on the same host?"
I have ran you [gitlab in docker](https://github.com/sameersbn/docker-gitlab) and I would like to connect multi-runner to it but I am getting

[code]

I have added `external_link` in the `docker-compose.yml`

[code]

Am I doing this in correct way? The IP address I have put there is the `ifconfig docker0` from gitlab instance. I have tried with:
* 172.17.42.1
* 172.17.42.1:10800
* localhost
* loca

[2015-09-25 21:22] tamlyn commented on #4
You want to use the full URL including scheme, port and path. So in your case probably `http://172.17.42.1:10800`. (Are you sure it's not `10080`?) Note if you're using Gitlab CE 8 which has Gitlab CI integrated, you need to add `/ci/` to the end of the URL so `http://172.17.42.1:10800/ci/`

[2015-09-25 21:53] tamlyn opened #5 "Using docker executor"
Is it possible to use the `docker` executor with this image? If so how do I supply the base image and link services?

[2015-09-25 23:36] pmalek commented on #4
OK I have managed to get it to work by running the following command to get the IP address of gitlab containter:

[code]

and then I have used the following setting:

[code]

with this it works :) Although I wonder why is my `ifconfig docker0` IP address different than the one returned from `docker exec -it dockergitlab_gitlab_1 ip addr` ?

[2015-09-26 02:32] sameersbn commented on #4
Of your docker compose has the config:

[code]

or if your docker run command has `-p 10080:80`, then you are better off using http://172.17.41.1:10080/ci as the url in your runner configurations. This is because when your host or container is restarted, it will not have the same ip address that it currently has. As a result the runner will no longer be able to connect to Gitlab.

[2015-09-26 12:02] pmalek commented on #4
Ok so I needed to add `http://` in the beginning of the URL and add `/ci` postfix and it works :)

@sameersbn Thanks for pointing this out :)

[2015-09-26 12:29] pmalek commented on #4
Weird things started to happen... I am trying to start multi-runner now and I get this:

[code]

I have no idea where `172.17.0.50` is taken from since I have the following `docker-compose.yml` (which was working few hours ago...):

[code]

[2015-09-26 22:44] pmalek commented on #5
+1

[2015-09-27 05:44] sameersbn commented on #5
While I have never tried it, I don't see any reason why it will not work. To use the docker executor, you will need to volume mount your docker binary and unix socket into the runner. e.g.

[code]
see https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/blob/master/docs/install/docker.md for more information

[2015-09-27 06:00] sameersbn commented on #4
Couple of things.

1. the `CI_SERVER_URL`, `RUNNER_TOKEN`, `RUNNER_DESCRIPTION` and `RUNNER_EXECUTOR` parameters are only applicable at the first run of the container. So if you mount a volume at `/home/gitlab_ci_multi_runner/data` as recommended, then changes in these parameters will have no effect on the configuration after the first run. This means that if you want to change some configuration,

[2015-10-02 19:27] hourliert commented on #5
Hi,

It seems that the @sameersbn solution doesn't work.
It would be awesome if we could use the docker executor.

Otherwise, is it possible to do some 'nested docker'?

[2015-10-04 14:25] sameersbn commented on #5
I have not tried this yet. I will give it a shot and let you know.

BTW, if you are eager to use docker as the executor, you can simply run the `gitlab-ci-multi-runner` binary on the host. Its a single binary. This image is more of a base image to build your self contained runner images in which case the shell executor makes more sense.

However, I will try the docker executor and let you know my

[2015-10-04 15:17] sameersbn commented on #5
problem was with access to the docker socket. Also during registration `gitlab-ci-multi-runner` asks some more questions. Dunno if they can be skipped.

First time run using:

[code]

It will ask you to provide the relevant details.

I was able to trigger builds in docker containers. I have not tested an actual build, but the docker executor works.

FWIW i used the following build description

[co

[2015-10-04 21:04] tamlyn commented on #5
Thanks for this. I've pulled the latest image and I'm using the following command to start a runner:

    docker run -d --name gitlab-ci-multi-runner --restart=always \
    --volume /opt/gitlab-ci-multi-runner:/home/gitlab_ci_multi_runner/data \
    --volume /var/run/docker.sock:/var/run/docker.sock \
    --env='CI_SERVER_URL=http://192.168.99.100:10080/ci' \
    --env='RUNNER_TOKEN=[redacted]' \

[2015-10-05 06:15] sameersbn commented on #5
oh wait.. i was supposed to do another change. completely skipped my mind.

[2015-10-05 06:25] sameersbn commented on #5
Have made a required change. Please check if it fixes your issue.
I was able to test using your docker run command.

[2015-10-05 08:10] tamlyn commented on #5
Hmmm. Now I get `groupadd: GID '100' already exists` in the container log after startup. I'm using boot2docker 1.8.2 on OSX.

[2015-10-05 09:47] sameersbn commented on #5
oh.. then I may have to add some more checks.

[2015-10-05 10:19] sameersbn commented on #5
have introduce some more changes. Please pull in a couple of minutes (its building) and retry.

[2015-10-05 13:07] tamlyn commented on #5
Awesome! That's working now. Thanks for all your help. 👍

[2015-10-05 13:07] #5 closed

[2015-10-05 13:15] Analect commented on #5
@tamlyn
I hope you don't mind me jumping in here.  I subscribed to this thread earlier, since I was trying to get a better understanding of how a runner could be set up with docker-compose ... something that it seems you have been able to do.  Would you be able to offer a quick summary here of how you were able to get this working ... it seems you are using a base node image to create a runner dyn

[2015-10-06 07:39] tamlyn commented on #5
I haven't done a full end to end run through yet but I'll post back here when I do.

[2015-10-06 07:40] Analect commented on #5
Much appreciated. Thanks.

[2015-10-06 07:45] sameersbn commented on #5
one thing i did notice that the runner image needs to have git installed. But you must have figured that by now :)

[2015-10-07 21:48] tamlyn commented on #5
@Analect try this http://tamlyn.org/2015/10/dockerised-gitlab-ci-runner/

I may well have missed some steps so let me know if you get stuck or something is wrong.

[2015-10-07 21:52] Analect commented on #5
@tamlyn
Much appreciated.  Will work through this and revert back.

[2015-10-14 06:37] veggiemonk opened #6 "Cannot start container"
Hi @sameersbn,

Great work on docker-gitlab... and this CI runner is just awesome!

I received an error when starting the container.
The problem is with the register command in `entrypoint.sh`.
There are no `-d` flag but there is a `--name` flag.
Same goes for the `-e` flag ---> `--executor`

Here is the error log:

[code]

PR is comming right away.

Cheers,

Julien

[2015-10-14 17:20] sameersbn commented on #6
PR merged. thanks

[2015-10-14 17:20] #6 closed

[2015-10-18 12:33] Maescool opened #8 "Adding curl"
Hi,
Big fan of your images! <3

I wonder if you could install curl?
This is used for the triggers gitlab has, to trigger a build from a build
https://about.gitlab.com/2015/08/22/gitlab-7-14-released/

Thanks!

[2015-10-27 13:10] fernandoneto opened #9 "register in multiple gitlab-ci hosts"
@sameersbn do you know if it is possible to register 1 multi-runner in multiple gitlab-ci containers?
in this moment i have 2 gitlab containers sharing the `/home/git/data` folder, but when i check the gitlab registration token they are different in the 2 container's.

[2015-10-27 15:30] sameersbn commented on #9
I don't think it is possible. But i am not sure. You will need to check with the upstream project

[2015-10-27 16:38] fernandoneto commented on #9
just to keep the tracking if someone else have the same problem

https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/issues/250

[2015-11-02 05:50] sameersbn commented on #8
This image is meant to be a base image for your runners which means you use this image to base your runner images. As such in your runner image you can install any package you desire/

[2015-11-17 16:35] Analect commented on #5
@tamlyn
Sorry for long delay in responding to this and thanks again for documenting this. I worked through your blog-post linked above, which was very thorough.  The only step that is explicity missing is the need to redeploy the gitlab container too .. since the GITLAB_HOST gets changed to reflect the container end-point on tutum.

The build is failing as per screenshot below.  Any idea what I mi

[2015-11-27 14:35] davidwindell opened #10 "SSH deploy key isn't available to runner"
The deploy keys don't appear to be usable by runners that want to git clone during a build phase.

I have copied `id_rsa.pub` from the containers `/home/gitlab_ci_multi_runner/data/.ssh` into Deploy Keys for a project but still get "Host key verification failed".

[code]

[2015-11-30 13:19] davidwindell commented on #10
Ah, ignore this, I missed that it was the Host key that was failing. Adding;

`ssh-keyscan -H 'git.edge-servers.com' >> $HOME/.ssh/known_hosts` to the build step fixed this.

[2015-11-30 13:19] #10 closed

[2015-12-15 14:53] grahovam opened #12 "Is it possible to run `docker build` and `docker push` inside a container of this image?"
I would like to build and push docker images inside a docker container. I want to setup a CI-Environment where docker images are being built and pushed after a git commit has been pushed to gitlab.

I've read about using Docker inside Docker, but since i just want to build and push, this seems to be a little overweight and there is important security issues to be considered (http://jpetazzo.github

[2015-12-15 15:47] sameersbn commented on #12
@grahovam I think you can expose the host docker binary and socket to the runner and build/push the images. see #5 to know how you can expose the host docker binary and socket to your runner. But beware, there is still a huge security risk with this method as well since a user would be able to mount the rootfs of the host as a volume in a container and do as they please.

[2015-12-15 16:07] grahovam commented on #12
I see the security risk. But it is not more risky than running a gitlab runner directly in my VM instead of in a container, because there the rootfs would be mounted from the beginning, or am I making a mistake here?

[2015-12-15 16:21] sameersbn commented on #12
that is true. if you are creating a VM for the sole purpose of a runner then it should be mostly fine.

[2015-12-15 17:11] grahovam commented on #12
It seems like it's still not working. I create a container using

[code]

and then i go into the container using

[code]

and if i enter ```docker``` i get

[code]

[2015-12-15 17:18] sameersbn commented on #12
you can add do a `apt-get install libapparmor1` in the image or add the following to the run command.

[code]

I will add the libapparmor1 in future releases.

[2015-12-15 17:23] #12 closed

[2015-12-15 17:23] grahovam commented on #12
Alright, thank you very much.

[2015-12-15 17:46] sameersbn commented on #12
have added `libapparmor1` in the `latest` build

[2015-12-24 16:59] sameersbn commented on #8
p.s. curl is being installed in the image.

[2015-12-24 16:59] #8 closed

[2015-12-24 17:00] sameersbn commented on #4
can we close this?

[2015-12-25 05:55] #4 closed

[2015-12-31 05:06] outcoldman commented on #5
@Analect the latest issue can be caused by the not root user, I would guess that adding something like

[code]

should fix this problem

[2016-01-24 08:30] sameersbn commented on #10
`ssh-keyscan github.com | sort -u - ~/.ssh/known_hosts -o ~/.ssh/known_hosts` may help avoid duplicate entries in the `known_hosts`

[2016-03-09 02:41] kk17 opened #14 "Docker executor cannot pull image from private registry"
I use gitlab-ci-multi-runner:1.0.4, here is code snippet of my `docker-compose.yml`:

[code]

I get this problem when doing ci build, Docker executor cannot pull image from private registry:
[code]

I change the shared docker config folder to:
[code]
but this still not work.

And I change to use the GitLab official Runner image, it work.
[code]

I want to know what is the difference and how to mak

[2016-03-29 14:38] FezVrasta opened #15 "Use bash instead of sh?"
Seems like by default the runner uses sh... I was wondering how to switch to bash?

[2016-03-29 17:08] outcoldman opened #16 "runner v1.1.0"
https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/blob/master/CHANGELOG.md

New features

[code]

From the list does not seem like any additional work is required other than bump the version to 1.1.0

[2016-03-30 15:13] #16 closed

[2016-04-17 16:22] sameersbn commented on #15
according to https://github.com/ayufan/gitlab-ci-multi-runner#compatibility-chart the default shell is `bash`.

[2016-04-18 19:12] taniadaniela opened #17 "How to register other runners beside the one specified in docker-compose?"
I've been trying with this commands inside the container but they don't work:
gitlab-runner register
runner register
register

in all of them I get: command not found.

Any ideas?

[2016-04-18 20:06] taniadaniela commented on #17
I used this way and it works: /usr/local/bin/gitlab-ci-multi-runner register

[2016-04-18 20:06] #17 closed

[2016-04-24 09:55] metal3d opened #18 "Unable to connect on same host"
Hi, and first thanks a lot for your docker gitlab images. I run them since 14 month without to have to complain :)

I've got a problem to run ci-multi-runner on the same host. I've got this output

[code]

Actually git.develipsum.com is served by a reverse proxy. I can access it outside and on my host. But not inside the "runner" container.

This is my docker-compose that runs:

[code]

"gitlab" l

[2016-04-24 10:33] metal3d commented on #18
OK ! Seeing #4 issue I understand that the data volume was not erased and the whole modification I made was not refreshed.

The solution is way simple. I needed to add a extra_host. This is what I set:

[code]

That way: git.develipsum.com is resolved by /etc/hosts correspondance

But... now... the runner cannot access my gitlab instance saying:

[code]

Note that if I add again "external_link" to

[2016-04-24 21:56] metal3d commented on #18
I just find the problem and I open another issue closing this one

[2016-04-24 21:56] #18 closed

[2016-04-27 09:03] jeremyzahner commented on #18
@metal3d Did you find a valuable solution for this issue?

[2016-04-27 09:25] metal3d commented on #18
Hi, yes. Sorry to not explaine this sooner.

Ok my problem is that "git.develipsum.com" is served by an external container (nginx), and local docker network cannot hit my nginx by using "git.develipsum.com" so I did a "trick". See the "links" section and CI_SERVER_URL also:

[code]

That way, "git.develipsum.com" is resolved using "internal docker ip" and it nginx.
CI_RUNNER are using "gitlab" con

[2016-04-27 09:28] metal3d commented on #18
That means that runner dockerfile should probably allows to create "links" that are inserted inside the toml file without the need to change it manually...

@sameersbn ? you're ok with the idea ? Maybe I can provide a PR (if I find the time)

[2016-09-11 16:14] jmatsushita opened #22 "Updates?"
Hi there,

Really like your series of gitlab related docker, so thanks! I was wondering if you were planning to update the multi-runner to the latest version. It seems that the new version is 1.5.0 now. https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/blob/master/CHANGELOG.md

Thanks!

Jun

[2016-09-11 17:04] jmatsushita opened #23 "Allow configuration of sentry_dsn"
Since v1.4.0 it is possible to specify a sentry_dsn for gitlab CI runners. It would be great to be able to specify this via an environment variable via docker!

[2016-09-11 21:50] niieani commented on #22
It would be great if you'd simply make [this](https://github.com/sameersbn/docker-gitlab-ci-multi-runner/blob/master/Dockerfile#L4) variable configurable (passable during build-time).

[2016-09-21 17:15] ebuildy opened #24 "Thanks you !"
Just to say thanks ^^

Woa, maybe the first time I found something that works straighaway ^^

A single docker-compose.yml to run gitlab and the CI family, wonderful!

[2016-09-28 12:12] davidwindell commented on #22
@sameersbn I'd be extremely grateful for an update too, the current release is 1.6.0.

Keen to get rid of our [custom runner](https://github.com/outeredge/edge-docker-gitlab-ci-multi-runner) with Docker Agent installed.

[2016-10-04 21:57] Inakimalerba opened #25 "Multiple jobs in parallel"
I was wondering if there's a way to set up more than one job at the same time, instead of starting multiple instances of the runner.

Ps. I found this, but it doesn't seem reliable
https://github.com/gitlabhq/gitlab-ci-runner/issues/80#issuecomment-37404669

Thanks!

[2016-10-05 13:30] digitalLumberjack opened #26 "Docker in docker or simple docker features"
Hi, first thank you for the great docker images you provide :)

According to https://docs.gitlab.com/ce/ci/docker/using_docker_build.html we can use docker to build our projects in gitlab runners.

Is this feature already available in your image ? I could not find it.

[2016-10-21 08:39] always-waiting opened #27 "How to let docker runner not pull images from web"
I have these warnings
[code]
how to let runner not to pull images from web first, instead of find in local first?

[2016-10-22 12:17] digitalLumberjack commented on #26
https://github.com/sameersbn/docker-gitlab-ci-multi-runner/pull/29

[2016-10-24 09:26] always-waiting opened #30 "A problem for deploy"
This is my .gitlab-ci.yml
[code]

When gitlab-ci runs in deploy stage, there is a error which i don't know why

[code]

[2016-11-22 09:22] sash commented on #26
+1. Please merge this feature!

[2016-11-25 16:03] Maescool commented on #30
This is a golang issue (language in which the runner is written)
https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/issues/1788
here they do a workaround in 1.7 build aswell they upgraded to a newer golang version, and i think latest 1.8.0 build shouldn't have this issue anymore since

[2016-11-25 16:05] Maescool commented on #27
As far as i know, this runner doesn't, I recommend setting up a local docker registry if you want to have images privately processed with your runner.

[2016-12-02 08:43] QuickJack commented on #22
There are several pull requests for later versions up to 1.8.0. Many features have been added since 1.1.4.

Is there a specific reason why you won't upgrade the runner image?

[2016-12-02 14:27] #25 closed

[2017-01-24 20:46] jameswalmsley commented on #26
Hi @digitalLumberjack I have tried to use your docker-executor and have pulled from your docker hub images as well as building myself.

I cannot get this to work as I always see the following message when I attempt to build:
    GitlabCIMultiRunner_1  | WARNING: Checking for builds... failed              runner=9db0911c status=500 Internal Server Error

Would you be able to tell me how to find out

[2017-01-24 21:23] digitalLumberjack commented on #26
Hi dude :)
Seems to be an issue while the runner is sending a request to your gitab server.

Do you have a self host gitlab CE ? did you try to add the runner on gitlab.com ?

I just runned it that way for gitlab.com and it works :
[code]

See the url (it must finish by /ci)

[2017-01-25 10:21] jameswalmsley commented on #26
I'm using nginx-proxy docker to sit many docker applications behind a single host. Maybe this is causing a problem.

I'll have a play around.

Thanks for the quick response.

James

[2017-01-25 13:18] jameswalmsley commented on #26
I created a new project with a new ci script and it worked.
Not sure what why its not working with the previous project, will get the other developer to take a look.

But great job and thanks for the work on supporting docker executors.

[2017-01-26 13:32] davidwindell commented on #22
@QuickJack @niieani @jmatsushita @Maescool @digitalLumberjack @sameersbn

This repository doesn't seem to be maintained any more. Would anyone be in favour of starting a fork?

[2017-01-26 14:39] digitalLumberjack commented on #22
My fork is plugged on docker hub :
https://github.com/digitalLumberjack/docker-gitlab-ci-multi-runner

https://hub.docker.com/r/digitallumberjack/docker-gitlab-ci-multi-runner/

I try to update version as soon as i see gitlab new versions. Feel free to open pr if you need a new version not yet implemented.

If anyone would like to make his own fork "official" no problemo, i'll follow.

[2017-01-26 14:42] davidwindell commented on #22
That's great, thanks @digitalLumberjack.

Or would @sameersbn consider giving you maintainer rights?

[2017-01-26 15:10] sameersbn commented on #22
@digitalLumberjack i would be happy to add you as a collaborator/maintainer. wdyt?

[2017-01-26 16:41] digitalLumberjack commented on #22
yes we could do that @sameersbn

[2017-01-27 05:31] sameersbn commented on #22
@digitalLumberjack awesome. can you send a PR with your changes?

[2017-01-27 09:04] digitalLumberjack commented on #22
I'll do that before the end of the weekend.

[2017-01-27 20:59] psi-4ward opened #32 "Alpine Base?"
I think we could go down to about 60MB using alpine linux instead of ubuntu.

[2017-01-29 09:37] digitalLumberjack commented on #22
https://github.com/sameersbn/docker-gitlab-ci-multi-runner/pull/33

[2017-02-04 16:04] maxnag opened #34 "ci variables"

[2017-02-04 16:43] sameersbn commented on #34
:no_mouth:

[2017-02-04 16:43] #34 closed, assigned to nobody

[2017-02-05 12:03] digitalLumberjack opened #35 "Auto unregister option"
I have many runners on many different projects and i must unregister them manually.

I'll add a RUNNER_AUTOUNREGISTER option to remove automatically the runner from its gitlab instance on container stop.

[2017-02-05 14:34] paolomainardi opened #36 "Why this image instead of the standard one ?"
I know that this is a super noob question, but  help me to understand :) thanks!

[2017-04-02 08:16] avluis commented on #36
Are you referring to the one GitLab provides or are you referring to the older runners?

- If you are referring to using this repo instead of GitLab; more environment variables as well as being simpler to get up and going.

- If you are referring to the older runners, then that's just what GitLab is recommending as their new runners work with the newer versions of GitLab.

[2017-04-18 11:17] davidwindell commented on #22
@sameersbn any news on @digitalLumberjack becoming a maintainer and getting #33 merged?

[2017-04-24 08:05] cpoetter commented on #22
Awesome @digitalLumberjack and @sameersbn! Looking forward to a newer version as well!

[2017-04-25 06:49] Robin2009 commented on #18
@metal3d There's no more words but **thank you** to express how much I appreciate your idea.  My case is about to host a gitlab server in my local docker and then I tried to run a docker gitlab runner locally, but always failed by telling "dial tcp 127.0.0.1:80: getsockopt: connection refused". I knew it might relate to the network settings but don't know how to fix it as myself is a newbie in doc

[2017-04-27 08:56] Robin2009 opened #38 "Docker executor couldn't connect to the local gitlab"
My case is simply to host a gitlab and a CI runner together inside of my local docker on my mac.
I can see the runner is recognized by gitlab but it looks like the runners docker is unable to fetch repository from it. I'd been searching a lot but just can't fix my problem. I guess it's due to the network settings of the "temp" container created by my runner container. Here's my .yml file which's a

[2017-04-27 09:11] digitalLumberjack commented on #38
Are you trying to start this runner for a local instance of gitlab ?

You must provide a fqdn in the CI_SERVER_URL

[2017-04-27 09:21] digitalLumberjack commented on #38
The issue is you have the gitlab.local.com entry only in your /etc/hosts.

Just use gitlab in place of gitlab.local.com in /etc/hosts and in the gitlab configuration, and the resolution will be the same in the runner context and on your desktop.

[2017-04-28 03:57] Robin2009 commented on #38
Hi @digitalLumberjack , thanks for your kind response so much. If my understanding is right, then according to your suggestion, those what I should change:

1. change `127.0.0.1 gitlab.local.com` to `127.0.0.1 gitlab` in /etc/hosts on my mac
2. replace `gitlab.local.com` with `gitlab` in my docker-compose.yml file

I will try it soon once I get my mac in hand. One more question, in that case, is t

[2017-04-28 03:57] #38 closed, assigned to nobody

[2017-05-12 06:44] BirgerK commented on #22
.... anything happening.... ?

[2017-05-12 06:46] digitalLumberjack commented on #22
I'm waiting for @sameersbn approval on #33 :D

[2017-06-20 12:55] davidwindell commented on #22
@sameersbn have you changed your mind on @digitalLumberjack becoming a maintainer on this repository?

[2017-06-23 09:53] meronimo opened #40 "server certificate verification failed - Let's Encrypt Certificate"
Hello

i'm running GitLab on my Synology with a Let's Encrypt Certificate.

When i start my pipeline procress i get the following error message.
[code]

Let's Encrypt provides:
cert.pem
chain.pem
privkey.pem

How can i provide gitlab runner the correct certificate format?

[2017-07-01 21:42] sprucify opened #41 "npm: command not found"
I would like to setup an angular deploy.
No matter the executor I select (shell or docker) I get the following output.

`gitlab-ci-multi-runner 1.1.4 (9e2fd1a)
WARNING: image is not supported by selected executor and shell
Using Shell executor...
Running on 6687502ce71f...
Fetching changes...
HEAD is now at 42e9d51 Update .gitlab-ci.yml
Checking out 42e9d511 as master...
HEAD is now at 42e9d51...

[2017-07-01 21:50] digitalLumberjack commented on #41
Hi,
use the node docker image:
- https://docs.gitlab.com/ce/ci/docker/using_docker_build.html
- https://docs.gitlab.com/ce/ci/docker/using_docker_images.html

[2017-07-04 16:20] sprucify commented on #41
I'm not familiar yet what the best practice is for Angular projects.
Almost all project examples are Ruby based.

User gitlab_ci_multi_runner is also not a sudoer, so things like `sudo npm install` can not be done.

[2017-07-05 16:18] jarvan4dev opened #42 "runner register failed!!!"
Anyone could give me a hand? I am dying!!!  It's so difficult to configure the CI

my terminal:

[code]

my docker-compose.yml

[code]

my other docker containers

[code]

[2017-07-08 12:00] digitalLumberjack commented on #42
Can't you use a link in your docker-compose of your runner and use the service discovery of docker ?

[2017-07-10 07:13] jarvan4dev commented on #42
@digitalLumberjack Could you show me the case? Thx so much!

[2017-07-10 07:15] jarvan4dev commented on #42
@digitalLumberjack this is my docker-compose.yml for gitlab

[code]

[2017-07-26 17:36] inongogo opened #43 "Any plans for updating to GitLab 9.4?"
Thanks for all your work with GitLab and Docker. I am grateful beyond words!

I was wondering if you have any plans to update this great repo to GitLab 9.4.

[2017-08-27 08:05] tamhv commented on #42
@jarvan4dev i think the problem is here:  `- CI_SERVER_URL=http://172.19.0.4:10080/ci`
maybe ` - CI_SERVER_URL=http://172.19.0.4/ci`
My config:
[code]

[2017-09-22 12:12] GarbageYard commented on #42
I was also facing similar issue. @tamhv: I tried your suggestion for using `--links` and now i am getting another error:

[code]

GitLab script (`GitLab version: 9.3.9`):
[code]

GitLab Runner script:
[code]

GitLab is running on HTTPS. Any suggestions?

[2017-09-25 03:49] jarvan4dev commented on #42
I configure it according to the tips in gitlab pages, there is a port configuration

[2018-01-09 09:18] seekaddo commented on #42
@jarvan4dev Did you find a solution to this problem? I have the same issue. I hope there is a way to get it to work.

[2018-01-09 09:19] jarvan4dev commented on #42
@seekaddo sorry, it seems not, I hope someone could give me a hand too

[2018-01-09 09:29] seekaddo commented on #42
This is my configuration

[code]

I am using the latest version for everything. The gitlab ist running perfectly.
One strange thing is that after after getting registration timeout from the gitlab-runner, it still manages to pick up some hanging jobs in my repos but send me a build failed email.
I think it will work but maybe there is something I am doing wrong. I need to figure it out.

[2018-01-09 09:33] ansonliao commented on #42
Also have the same issue, hope someone can figure out the problem

[2018-01-09 09:34] tamhv commented on #42
i'm not sure if this is ipv4 forward issue ( could not resolve host from container)
[code]
Your runner is trying to access gitlab instance by public port 10080. You need to check if gitlab-runner can ping gitlab.

[2018-01-09 09:35] seekaddo commented on #42
I found this online. It seems to be a major problem. Some said upgrading gitlab sever and everything works for him. I tried that but i get timeout and after a few minutes, the stuck job get picked by the runner and then it returns build fail. https://gitlab.com/gitlab-org/gitlab-runner/issues/1092

[2018-01-09 09:37] seekaddo commented on #42
@tamhv Thanks for the feedback, I will try it. For the ping, i tried ping the gitlab. It works on the local server but i don't know how to test a ping from the gitlab-runner.

[2018-01-09 09:44] tamhv commented on #42
@seekaddo you can get in the gitlab-runner container by run `docker-compose exec gitlab-runner sh` then `ping 192.168.138.130`, `ping google.com` or `curl -i http://192.168.138.130` to make sure your container can access hosts outside docker.

[2018-01-09 09:45] seekaddo commented on #42
@tamhv I am giving it a try. Thanks

[2018-01-09 09:57] seekaddo commented on #42
@tamhv  A ping works. I think it should work since the gitlab-runner can reach the gitlab. I might be doing something wrong. You were right maybe it was an ipv4 problem. I did a ping and i got this.

[2018-01-09 10:02] tamhv commented on #42
can you post your error message `docker-compose up`

[2018-01-09 10:05] seekaddo commented on #42
This is the version of everything that I am running.

[code]
Could it be that there is an older version here that is not working well with the gitlab-runner.? I read here. I am surprise i still get update available after running the latest version of everything.

[2018-01-09 10:10] seekaddo commented on #42
@tamhv  error messages here

[2018-01-09 10:17] tamhv commented on #42
please try
[code]
it should show `{"error":"You need to sign in or sign up before continuing."}` from gitlab.

[2018-01-09 10:18] seekaddo commented on #42
@tamhv  ok

[2018-01-09 10:21] seekaddo commented on #42
@tamhv No output from the command

[2018-01-09 10:30] tamhv commented on #42
strange! you can ping your gitlab from runner, but you can't `curl` your gitlab on port 10080. I have no idea why this happen, do you enable firewall or block port 10080?

[2018-01-09 10:38] seekaddo commented on #42
@tamhv Yea me too. I find it strange. I just got another email build failed. It starts to pull the image for the job and then it will break. This happens all the time when I get the timeout error from the gitlab-runner regstration. I think it should work. maybe there is a little error somewhere I am not seeing.

I have no idea, but i don't think there is a firewall blocking here. I am running ever

[2018-01-09 10:39] seekaddo commented on #42
@tamhv I am thinking of installing ubuntu now and move the docker-compose file there, run a test and see if i will get the same error or is just a general problem--- something i might not be doing right.

[2018-01-09 10:59] tamhv commented on #42
can you try to run` curl -i http://gitlab/ci/api/v1/runners/register.json` from gitlab-runner

if you can see "You need to sign in...", the config below should would
[code]

[2018-01-09 11:18] seekaddo commented on #42
@tamhv ok thanks, I will give it a try

[2018-01-09 11:47] seekaddo commented on #42
seekaddo@dennis ~/gitlabserver> sudo docker-compose exec gitlab-runner sh

and after that i got this error

[2018-01-09 11:53] seekaddo commented on #42
sudo docker ps
seekaddo@dennis ~/gitlabserver> sudo docker ps
CONTAINER ID        IMAGE                                     COMMAND                  CREATED             STATUS                          PORTS                                                   NAMES
2cd39ac4014a        sameersbn/gitlab-ci-multi-runner:latest   "/sbin/entrypoint.sh"    10 minutes ago      Restarting (1) 27 seconds ago

[2018-01-09 11:58] seekaddo commented on #42
@tamhv This is very strange because i am getting the right output from this

I should work. OMG what is wrong here.

[2018-01-09 12:03] tamhv commented on #42
you may using wrong version of runner and gitlab
pls try

`docker pull sameersbn/gitlab-ci-multi-runner:1.1.4-7`

then update your docker-compose.yml
[code]
and

`docker-compose up -d`

[2018-01-09 12:14] seekaddo commented on #42
@tamhv  ok Thank You

[2018-01-09 12:23] seekaddo commented on #42
still getting the same error

[2018-01-09 12:28] tamhv commented on #42
and gitlab as well

[code]

[2018-01-09 12:32] seekaddo commented on #42
ok @tamhv  working on it. Thank you for your time. You been helpful.

[2018-01-09 12:52] seekaddo commented on #42
@tamhv Is working now. no more errors and now instead of restart, it shows me up.

`54d1af910b55        sameersbn/gitlab-ci-multi-runner:1.1.4-7   "/sbin/entrypoint.sh"    2 minutes ago  Up 3 seconds  gitlab-runner`

But the job ist still pending in the pipelines. I will wait for a while and see what happens.

Thank You very much @tamhv

[2018-01-09 12:59] seekaddo commented on #42
@tamhv wait now nothing is happing to i did
`docker-compose up`

and got this

[code]

[2018-01-10 00:49] ansonliao commented on #42
@seekaddo my issue similar to yours, first `docker-compose up -d` presented error with register failed and network issue, after some times try, `docker-compose up -d` was succeeded, but when `docker exec gitlab-runner sh` failed with message similar `the container is restarting`, I think `docker-compose up`executed succeeded but the container still start fail as `docker-compose.yml` set the contai

[2018-01-10 02:49] tamhv commented on #42
you should use `docker-compose up -d` instead of` docker-compose up`
by using `up -d` your runner only register to gitlab once.
There is no sense for the runner keep register to the gitlab.

once more thing, gitlab need time to boot up (maybe 1 minute), while it being restarted it always response 502, but you start gitlab and runner at the same time, runner don't know when gitlab will be ready or

[2018-01-10 07:50] ansonliao commented on #42
@tamhv
Yes, run docker compose by command: `docker-compose up -d`, even also with `sudo`.

[2018-01-10 09:03] seekaddo commented on #42
@tamhv Thanks for the support and the advance lessons. I have learnt a lot.
I am getting this error now

[2018-01-10 09:06] tamhv commented on #42
did you try my commands in order?
pls check if your gitlab is working then restart your runner:

`docker-compose restart gitlab-runner`

and check logs

`docker-compose logs -f gitlab-runner`

[2018-01-10 09:12] seekaddo commented on #42
@tamhv Yes I just followed those steps. gitlab ist perfectly working with email notification and everything.
I will retry again deleting everything. give me a moment.

[2018-01-10 09:39] seekaddo commented on #42
@tamhv  This is what I have now here

![docker1](https://user-images.githubusercontent.com/16169353/34765715-8324559a-f5f2-11e7-97e1-069f8e09d82a.png)

[2018-01-10 09:41] seekaddo commented on #42
@tamhv  do you think that it might have something to do with the version of the both gitlab and the gitlab-runner?
I found this on the web
https://gitlab.com/gitlab-org/gitlab-runner/issues/2237

[2018-01-10 09:41] ansonliao commented on #42
@seekaddo @tamhv
I removed the gitlab containers by command `docker-compose down`, and removed gitlab runner containers by command `docker-compose down`,
and then
1. recreated gitlab containers by command `sudo docker-compose up -d`

[2018-01-10 09:43] seekaddo commented on #42
@ansonliao Is it working now for you? Can the runner pick up pending jobs now?

[2018-01-10 09:45] tamhv commented on #42
@seekaddo i think you get back network issue
[code]

[2018-01-10 09:47] seekaddo commented on #42
ok doing that right away @tamhv

[2018-01-10 09:49] ansonliao commented on #42
@tamhv
I can't sh into `gitlab-runner`, as this service is keep restarting;

[code]

run the command `curl -i http://localhost:10080/ci/api/v1/runners/register.json` from my host machine of docker, I can output:

[code]

[2018-01-10 09:54] tamhv commented on #42
no you need run it from your gitlab runner

try to run it many times while your runner is restarting, if you're lucky, you'll have some seconds to run the command before the runner hit error and restart again

or you can test in another container
[code]

[2018-01-10 10:00] seekaddo commented on #42
@tamhv as @ansonliao  mentioned is not possible to get the shell working with the endless loop of restart. But i did a trick
I run

after that i was able to run the exec shell
which gave me a little time to get the shell working.
I got no output from curl command

[2018-01-10 10:03] tamhv commented on #42
can you pls post your docker-composer.yml again

[2018-01-10 10:15] seekaddo commented on #42
@tamhv I just reset the token to give it a fresh start.

[2018-01-10 10:18] seekaddo commented on #42
@tamhv  your trick work now. and i got the right output. This should be working.

![my_desktop](https://user-images.githubusercontent.com/16169353/34767282-fceb0644-f5f7-11e7-804e-b85af765cb7e.png)

[2018-01-10 10:19] seekaddo commented on #42
@tamhv If is able to get this output from another container then it mean everything is ok there. It just need the right token or logins to allow access.

[2018-01-10 10:29] tamhv commented on #42
yeah correct!

[2018-01-10 10:36] seekaddo commented on #42
@tamhv I tried this new token

But still retarting.

[2018-01-10 10:39] seekaddo commented on #42
[code]

@tamhv  Looking at the log messages from the gitlab, I can only tell that it has a routing problem. what do you think?

[2018-01-10 10:44] seekaddo commented on #42
@tamhv  how can I run only the gitlab-runner als sudo? I think that might solve this problem since the gitlab-runner homepage suggest being a root user to have access to the gitlab admin.
Can I just move the runner to a different config file and then run it with sudo or root user?

[2018-01-10 10:44] tamhv commented on #42
what is the error again? 404 not found?

[2018-01-10 10:46] seekaddo commented on #42
I have getsockopt: connection refused
 and
status=502 Bad Gateway
and

status=404 Not Found
This errors respectively.

[2018-01-10 11:16] tamhv commented on #42
i have no idea why you get connection error and 502
if you can do curl.. with `docker-compose run --rm gitlab-runner sh` your gitlab-runner container should work

this command `docker-compose run --rm gitlab-runner sh` is just for running your runner temporarily, even you can `gitlab-runner register`  to register the runner manually, option --rm will remove the container when you Ctrl-C

[2018-01-10 11:17] seekaddo commented on #42
@tamhv  Yea it is really strange

[2018-01-10 12:08] seekaddo commented on #42
@tamhv how can I add certificate to my gitlab. I think it might help resolve this connection refused problem

[2018-01-10 12:22] tamhv commented on #42
sorry @sameersbn i have no idea

[2018-01-10 12:53] seekaddo commented on #42
@tamhv Is this normal to have the runner contact a different host?

Look at this error here

I noticed that the connection is going to 172.18.0.5:80 instead of my normal 192.168.138.130:10080
That is why the connection is been refused because there is no gitlab on that host.

[2018-01-10 15:00] ansonliao commented on #42
@tamhv @seekaddo
still looking for the solution

[2018-01-10 15:18] ansonliao commented on #42
@tamhv @seekaddo
I used this dockerfile register to gitlab (Sameersbn's GitLab docker compose) as gitlab runner succeeded.
FYI
https://github.com/schmunk42/docker-gitlab-runner

[2018-01-11 01:58] tamhv commented on #42
172.18.0.5:80 is available in docker container network, docker-compose create a network and attach all containers to that network, that's why you can ping `gitlab` and `curl http://gitlab/ci/..`

[2018-01-11 08:14] seekaddo commented on #42
@tamhv Oh ok. Thanks for the explanation. I understand now.

[2018-01-11 08:16] seekaddo commented on #42
@ansonliao Thanks for the link. Still struggling with it. How does your config file looks like. I looked into the link you provided ```https://github.com/schmunk42/docker-gitlab-runner``` but I still get the same error like always.
How you let me know how you made it work?

[2018-01-11 08:43] ansonliao commented on #42
@seekaddo
Yes, it works now.
I just follow his instructions to build a docker image, and then create a container and then register it to my gitlab.
it was successful.

![image](https://user-images.githubusercontent.com/6060224/34815971-5bce6376-f6ee-11e7-8f8d-6db2cfffe823.png)

[2018-01-11 08:48] seekaddo commented on #42
@ansonliao Let me give it a try and see. Did you register it manually or you just added it to your docker-compose config file. like mine above?

[2018-01-11 08:52] seekaddo commented on #42
Atleast this is what I am getting when I am trying to build build

[2018-01-11 09:10] seekaddo commented on #42
@ansonliao It still not working. I followed the steps. building the image and started it. Now I used his command to register but i still get an error.

Can you show me how you did it please. That will be helpful?

[2018-01-11 09:11] seekaddo commented on #42
@ansonliao This is it now

![my_desktop](https://user-images.githubusercontent.com/16169353/34817275-c94d3ed6-f6b7-11e7-90f4-180ed1904153.png)

[2018-01-11 09:16] tamhv commented on #42
there is no service on port 10080 of your gitlab, only port 80, it should be

`http://gitlab/ci`

or

`http://192.168.138.130:10080`

you have to choose one of them

[2018-01-11 09:16] seekaddo commented on #42
@tamhv  ok thanks.

[2018-01-11 09:19] seekaddo commented on #42
[code]

[2018-01-11 09:28] seekaddo commented on #42
This is really strange, even the one working on @ansonliao  is not working on mine. @ansonliao Are you using the same version of gitlab that tamhv suggested?

[2018-01-11 09:45] seekaddo commented on #42
@tamhv Do i need to install a docker-machine also on my system for it to work with docker? Just wondering!

[2018-01-11 09:48] tamhv commented on #42
[code]
i'm not sure, did you try the 2nd http://192.168.138.130:10080/ci
if "runner" wasn't in your docker-compose.yml, `http://gitlab/ci` won't work

[2018-01-11 09:52] seekaddo commented on #42
@tamhv I just changed the name container from gitlab-runner to runner. I have it in there. And that why i got the prompt to register. I tried both host. http://192.168.138.130:10080/ci was giving the old problem "timeout" and the first one is no suck host error.

[2018-01-11 10:02] tamhv commented on #42
i wonder if this is an docker network issue on windows

[2018-01-11 10:10] seekaddo commented on #42
oh ok. I am trying to install a new debian VM and try the whole thing again with a fresh start and see what happens. Thanks for your massive support @tamhv

@ansonliao Can you please share you config files and how you did it. please. That will be helpful.

[2018-01-11 14:58] ansonliao commented on #42
@seekaddo
I try to capture the log for you tomorrow, as it build on my office Mac

[2018-01-12 02:37] ansonliao commented on #42
@seekaddo
I used this Dockerfile's to build the image.

https://github.com/schmunk42/docker-gitlab-runner/blob/master/Dockerfile

and then I added some my custom components for example `maven`, `nodejs`.

Just follow the instructions as this.
https://github.com/schmunk42/docker-gitlab-runner/blob/master/README.md

1. Build runner image

[code]

2.
Expose runner register token to system property

[

[2018-01-12 08:23] seekaddo commented on #42
@ansonliao Thanks for the guideline.
This is almost the same steps i followed yesterday but the only differeence is that I build the container before doing the registration. And also I am not using 4.2.0-rc1 but rather the newer version 4.7.0-rc1.
I got an error that the runner cannot find the config file so i created one on my local machine at /etc/gitlab-runner/config. And it picked it up but wi

[2018-01-12 08:25] seekaddo commented on #42
I will try and do it based on your guidelines now and see what happens. @ansonliao
One question Do you have all you volumes mounted at the same path?

[2018-01-12 12:12] seekaddo commented on #42
@ansonliao I have tried everything possible and followed you exact same steps but still not working.
[code]

[2018-01-12 12:20] seekaddo commented on #42
@ansonliao I want to go home now and try it on my Mac osx sierra 10.12.6, I hope it works.

I have already tried this one two different linux system in vmware but still nothing is working?
@tamhv  Any ideas what might be wrong. It is really strange that this one works on @ansonliao Mac but not on this windows VMware.
Is there any work around that i can use to build with gitlab. may installing jenk

[2018-01-12 12:51] seekaddo commented on #42
@ansonliao Are you getting this error when building the container on mac osx

[2018-01-12 16:11] timurey commented on #42
It seems, what problem is in `ci/api/v1/runners/register.json` endpoint.
GET method works fine with result `{"error":"You need to sign in or sign up before continuing."}`
And POST method returns 404 error.

[2018-01-13 02:25] ansonliao commented on #42
@seekaddo everything is good when I create the image and container, no error output. And my machine is Mac OS with latest version, and the docker run in Mac directly with no VM

[2018-01-13 02:59] ansonliao commented on #42
@seekaddo
about try the runner, the experience is not good to me, so I am integrating Jenkins instead of gitlab runner with gitlab webhook.

[2018-01-13 03:11] ansonliao commented on #42
@seekaddo
I think the problem you meet, is need to clarify what the IP exactly from the VM the expose the IP from the VM.

[2018-01-13 10:49] tamhv commented on #42
@seekaddo i didn't use gitlab-runner as a container, i installed runner directly on docker host (centos 7)

[2018-01-13 13:28] seekaddo commented on #42
@timurey Yea I know that is really strange. The link you provided didn't suggest any solution.

[2018-01-13 13:28] seekaddo commented on #42
@tamhv Oh ok thanks. And everything works on the Centos 7 With the same runner version?

[2018-01-13 13:31] seekaddo commented on #42
@ansonliao Yea Jenkins will be of help. I have been considering that now since we really need this gitlab-runner working badly at work. I just wanted this perfect All-one gitlab thing without any webhooks. But I will start reading more about Jenkins now until we get a permanent solution to this git-runner.

Do you have any suggested helpful links.

[2018-01-13 13:34] seekaddo commented on #42
@tamhv @ansonliao Thank you all for keeping this long thread going and alive. I appreciate all the support. Amazing community work.

[2018-01-13 13:57] timurey commented on #42
@seekaddo I decided to use `gitlab/gitlab-runner` image.
And my docker-compose file ends with:
[code]

You need to configure runner once:
`docker exec -it gitlab-runner gitlab-runner register`
And set host to http://gitlab/

[2018-01-13 14:42] seekaddo commented on #42
@timurey It worked. Thank you very much. Now it is asking me this. what should I choose

[2018-01-13 14:46] timurey commented on #42
I'm using shell.
Choose what you need: https://docs.gitlab.com/runner/#selecting-the-executor

[2018-01-13 14:50] seekaddo commented on #42
@timurey I can see it now in the runners. But is says locked. It is because of saying true to all the questions.

![26906681_1629476717102198_1378416171_o](https://user-images.githubusercontent.com/16169353/34907088-7e33dec8-f879-11e7-945a-5831aaa29c10.jpg)

[2018-01-13 15:12] timurey commented on #42
@seekaddo
[code]
You're chose true in this question.

[2018-01-13 15:25] seekaddo commented on #42
ok Thank you very much bro. You made my weekend great. @timurey

[2018-01-13 16:16] seekaddo commented on #42
@timurey Now the build fails with a cloning problem.
Should I try and change my host.

[2018-01-13 17:02] timurey commented on #42
You should change port 10080 to 80 and restart gitlab:
` - GITLAB_PORT=80`

[2018-01-13 17:13] seekaddo commented on #42
Still the same problem.

[2018-01-13 17:50] timurey commented on #42
Edit docker-compose.yml and then
[code]

[2018-01-13 17:56] seekaddo commented on #42
@timurey Now I have connection refused error

[2018-01-13 18:00] seekaddo commented on #42
Even on my local machine I still have problem getting to gitlab

[2018-01-13 18:10] timurey commented on #42
Sorry that I mislead. Need to sleep.

[2018-01-13 18:11] seekaddo commented on #42
@timurey Oh sorry. goodnight. And thanks for your help.

[2018-01-16 08:56] tamhv commented on #42
I didn't use docker runner container, I installed gitlab-runner on docker host directly, i used shell executor, they work well. Have you tried to set up gitlab-runner on docker host (your debian)?

[2018-01-16 09:01] seekaddo commented on #42
@tamhv
`I didn't use docker runner container, I installed gitlab-runner on docker host directly, `
What do you mean by this? What is the difference in what I am doing. So all this while I was doing container stuffs. omg. Please how do i install the gitlab-runner directly.
do you mean this something like?
[code]

I thought they are the same, just that using docker-compose makes everything organised

[2018-01-16 09:05] seekaddo commented on #42
@tamhv Can I just register a new gitlab-runner and use shell executor. Maybe that is what you mean.

[2018-01-16 09:05] tamhv commented on #42
even i could make runner work in a container, but there is some issues occurred, job failed randomly, then i have to stop using runner in container
you can check docs here
https://docs.gitlab.com/runner/install/

[2018-01-16 09:08] seekaddo commented on #42
@tamhv How do I register my runner with a shell executor. What type of image should I select for my .taml connfig?

[2018-01-16 09:13] tamhv commented on #42
https://docs.gitlab.com/runner/install/
on your debian
[code]
and https://docs.gitlab.com/runner/register/index.html

[2018-01-16 09:15] seekaddo commented on #42
Oh ok, so in this case I will be running the gitlab-runner on the local machine and gitlab in the docker. Ok I do understand now.

[2018-01-16 09:36] seekaddo commented on #42
@tamhv I can't find it
gitlab-runnner
bash: gitlab-runnner: command not found

[2018-01-16 09:38] tamhv commented on #42
have you installed the runner successfully?
[code]

[2018-01-16 09:40] seekaddo commented on #42
Yea I have done that already.. But it still cannot find it.

[2018-01-16 09:41] tamhv commented on #42
you need to check the documents for your debian https://docs.gitlab.com/runner/install/

[2018-01-17 12:09] seekaddo commented on #42
@tamhv Thank you. Everything is working perfectly now with a build. I used a shell executor instead of the docker.

[2018-07-08 11:39] oNaiPs commented on #15
Might have to do with the image https://gitlab.com/gitlab-org/gitlab-runner/issues/1758.

[2018-07-18 03:33] ansonliao commented on #42
kool @seekaddo @tamhv @timurey

[2018-09-06 01:34] Evan1120 commented on #42
ERROR: Registering runner... failed                 runner=bekMSV4H status=couldn't execute POST against http://119.119.118.25:9090/api/v4/runners: Post http://119.119.118.25:9090/api/v4/runners: dial
tcp 119.119.118.25:9090: getsockopt: no route to hostPANIC: Failed to register this runner. Perhaps you are having network problems

can anyone help me? how to resolve it?

[2018-10-05 11:57] #40 closed, assigned to nobody

[2018-10-21 06:24] peterwillcn opened #44 "Merge https://github.com/peterwillcn/gitlab-runner-docker"
Alpine docekr-runner

[2019-03-29 14:56] Sanjanare commented on #42
@Evan1120 did you resolve it ? if so can you please share the solution

[2019-09-05 22:13] Zaroastre commented on #40
Hello,
I have exactly the same issue !
My GitLab virtual server is running behind a Nginx reverse proxy.
I've request a wildcard certificate from Let's Encrypt for my domain name. The certificate is installed on the reverse proxy.

My error is :
`Cloning into '/builds/projects/test'...
fatal: unable to access 'http://gitlab-ci-token:xxxxxxxxxxxxxxxxxxxx@gitlab.my-domain.ex/projects/test.git/': ser

[2021-10-01 14:42] TT2N9 commented on #40
Hi All,
I got the same issue,
Could u do a feddback with your solution please ?

Running with gitlab-runner 11.8.0 (4745a6f3)
  on DGTDEV2 Yt5_Zc7D
Using Shell executor...
Running on DGTDEV2...
00:00
Fetching changes...
00:00
HEAD is now at df264e0b31 [BCIDEV-13737]Fix cache clearing from admin
fatal: unable to access 'https://gitlab-ci-token:xxxxxxxxxxxxxxxxxxxx@git.domain.com/JadeoFrance/core_fr